[submodule "submodules/mcu-firmware"]
	path = submodules/mcu-firmware
	url = https://github.com/cogip/mcu-firmware.git
[submodule "submodules/RIOT"]
	path = submodules/RIOT
	url = https://github.com/cogip/RIOT.git
