x-vol-cogip: &vol-cogip
  "./cogip:/src/cogip"

x-vol-run: &vol-run
  "run:/var/run/cogip"

x-vol-pts: &vol-pts
  "/dev/pts:/dev/pts"

x-vol-vscode: &vol-vscode
  "vscode:/root/.vscode-server"

x-volumes-common: &volumes-common
  volumes:
    - "./cogip:/src/cogip"
    - "./.python-version:/src/.python-version"
    - "./pyproject.toml:/src/pyproject.toml"
    - "./uv.lock:/src/uv.lock"
    - "./LICENSE:/src/LICENSE"
    - *vol-run
    - *vol-pts
    - *vol-vscode

x-extra-hosts-common: &extra-hosts-common
  extra_hosts:
    host.docker.internal: host-gateway

x-build-console: &build-console
  build:
    context: .
    target: cogip-console

x-build-gui: &build-gui
  build:
    context: .
    target: cogip-gui

x-build-firmware: &build-firmware
  build:
    context: .
    target: cogip-firmware
  working_dir: /simulation/submodules/mcu-firmware
  volumes:
    - *vol-run
    - *vol-pts
    - *vol-vscode
    - ".:/simulation"
  command:
    - /bin/sh
    - -x
    - -c
    - make -C applications/$${FIRMWARE_APP} -j$$(nproc) BOARD=$${FIRMWARE_BOARD}

x-socat: &socat
  <<: *build-console
  volumes:
    - *vol-run
    - *vol-pts
  command:
    - /bin/sh
    - -x
    - -c
    - |
      socat -d pty,raw,echo=0,link=/var/run/cogip/ptySTM32-$${ROBOT_ID} pty,raw,echo=0,link=/var/run/cogip/ptyRPI-$${ROBOT_ID} &
      sleep infinity

x-firmware: &firmware
  <<: *build-firmware
  network_mode: "host"
  environment: &env-firmware
    FIRMWARE_BOARD: ${FIRMWARE_BOARD:-cogip-native}
  stdin_open: true
  tty: true
  command:
    - /bin/sh
    - -x
    - -c
    - applications/$${FIRMWARE_APP}/bin/$${FIRMWARE_BOARD}/$${FIRMWARE_APP}.elf $${FIRMWARE_OPTIONS}

x-robot: &robot
  <<: [*build-console, *volumes-common, *extra-hosts-common]
  network_mode: "host"
  cap_add:
    - SYS_PTRACE
  environment: &env-robot
    SERVER_DEBUG:
    SERVER_RELOAD:
    PLANNER_DEBUG:
    PLANNER_RELOAD:
    PLANNER_ROBOT_WIDTH:
    PLANNER_ROBOT_LENGTH:
    PLANNER_OBSTACLE_RADIUS:
    PLANNER_OBSTACLE_BB_MARGIN:
    PLANNER_OBSTACLE_BB_VERTICES:
    PLANNER_OBSTACLE_SENDER_INTERVAL:
    PLANNER_PATH_REFRESH_INTERVAL:
    COPILOT_RELOAD:
    COPILOT_DEBUG:
    DETECTOR_RELOAD:
    DETECTOR_DEBUG:
    DETECTOR_UART_PORT:
    DETECTOR_UART_SPEED:
    DETECTOR_MIN_DISTANCE:
    DETECTOR_MAX_DISTANCE:
    DETECTOR_BEACON_RADIUS:
    DETECTOR_REFRESH_INTERVAL:
    DETECTOR_EMULATION: 1
  command:
    - /bin/sh
    - -x
    - -c
    - |
      uv run cogip-server &
      wait-for-it -t 0 localhost:809$${ROBOT_ID}
      uv run cogip-planner &
      uv run cogip-copilot --can-channel vcan0 -b 500000 -B 1000000 &
      uv run cogip-detector &
      uv run cogip-dashboard &
      sleep infinity

x-pami: &pami
  <<: [*build-console, *volumes-common, *extra-hosts-common]
  network_mode: "host"
  cap_add:
    - SYS_PTRACE
  environment: &env-pami
    SERVER_DEBUG:
    SERVER_RELOAD:
    PLANNER_DEBUG:
    PLANNER_RELOAD:
    PLANNER_ROBOT_LENGTH: 212
    PLANNER_ROBOT_WIDTH: 140
    PLANNER_OBSTACLE_RADIUS:
    PLANNER_OBSTACLE_BB_MARGIN:
    PLANNER_OBSTACLE_BB_VERTICES: 6
    PLANNER_OBSTACLE_SENDER_INTERVAL:
    PLANNER_PATH_REFRESH_INTERVAL:
    COPILOT_PAMI_RELOAD:
    COPILOT_PAMI_DEBUG:
    DETECTOR_PAMI_TOF_BUS:
    DETECTOR_PAMI_TOF_ADDRESS:
    DETECTOR_PAMI_MIN_DISTANCE:
    DETECTOR_PAMI_MAX_DISTANCE:
    DETECTOR_PAMI_REFRESH_INTERVAL:
    DETECTOR_PAMI_RELOAD:
    DETECTOR_PAMI_DEBUG:
  command:
    - /bin/sh
    - -x
    - -c
    - |
      uv run cogip-server &
      wait-for-it -t 0 localhost:809$${ROBOT_ID}
      uv run cogip-planner &
      uv run cogip-copilot-pami --serial-port /var/run/cogip/ptyRPI-$${ROBOT_ID} &
      uv run cogip-detector-pami &
      uv run cogip-dashboard &
      sleep infinity

x-monitor: &monitor
  << : [*build-gui, *extra-hosts-common]
  network_mode: "host"
  environment: &env-monitor
    DISPLAY:
    QTWEBENGINE_DISABLE_SANDBOX: 1
    XDG_RUNTIME_DIR:
  command:
    - /bin/sh
    - -x
    - -c
    - |
      wait-for-it -t 0 $${COGIP_SOCKETIO_SERVER_HOST}:$${COGIP_SOCKETIO_SERVER_PORT}
      uv run cogip-monitor http://$${COGIP_SOCKETIO_SERVER_HOST}:$${COGIP_SOCKETIO_SERVER_PORT} &
      sleep infinity
  working_dir: /src
  volumes:
    - *vol-cogip
    - *vol-vscode
    - "./assets:/src/assets"
    - "/tmp/.X11-unix/:/tmp/.X11-unix/"
    - "/dev/dri/:/dev/dri/"
    - "$XDG_RUNTIME_DIR:$XDG_RUNTIME_DIR"

services:
  beacon:
    <<: [*build-console, *extra-hosts-common]
    hostname: beacon
    network_mode: "host"
    ports:
      - "8080:8080"
      - "8090:8090"
    environment:
      SERVER_BEACON_MAX_ROBOTS: 4
      SERVER_BEACON_RELOAD:
      SERVER_BEACON_DEBUG:
    volumes:
      - *vol-cogip
      - *vol-vscode
      - "./records:/var/tmp/cogip"
    command:
      - /bin/sh
      - -x
      - -c
      - |
        uv run cogip-server-beacon &
        uv run cogip-dashboard-beacon &
        sleep infinity
    profiles:
      - beacon


  socat2:
    << : *socat
    hostname: socat2
    environment:
      ROBOT_ID: 2
    profiles:
      - robot2

  socat3:
    << : *socat
    hostname: socat3
    environment:
      ROBOT_ID: 3
    profiles:
      - robot3

  socat4:
    << : *socat
    hostname: socat4
    environment:
      ROBOT_ID: 4
    profiles:
      - robot4

  make-firmware-motion-control:
    <<: *build-firmware
    environment:
      << : *env-firmware
      FIRMWARE_APP: cup2024-robot-motion-control
    command:
      - /bin/sh
      - -x
      - -c
      - make -C applications/$${FIRMWARE_APP} -j$$(nproc) BOARD=$${FIRMWARE_BOARD}
    profiles:
      - robot1

  make-firmware-actuators:
    <<: *build-firmware
    environment:
      << : *env-firmware
      FIRMWARE_APP: cup2024-robot-actuators
    command:
      - /bin/sh
      - -x
      - -c
      - make -C applications/$${FIRMWARE_APP} -j$$(nproc) BOARD=$${FIRMWARE_BOARD}
    profiles:
      - robot1

  make-firmware-motors:
    <<: *build-firmware
    environment:
      << : *env-firmware
      FIRMWARE_APP: cup2024-robot-motors
    command:
      - /bin/sh
      - -x
      - -c
      - make -C applications/$${FIRMWARE_APP} -j$$(nproc) BOARD=$${FIRMWARE_BOARD}
    profiles:
      - robot1

  make-firmware-pami:
    <<: *build-firmware
    environment: &env-firmware-pami
      << : *env-firmware
      FIRMWARE_APP: cup2024-pami
    command:
      - /bin/sh
      - -x
      - -c
      - make -C applications/$${FIRMWARE_APP} -j$$(nproc) BOARD=$${FIRMWARE_BOARD}
    profiles:
      - robot2
      - robot3
      - robot4

  firmware1-motion-control:
    << : *firmware
    hostname: firmware1-motion-control
    environment:
      << : *env-firmware
      FIRMWARE_APP: cup2024-robot-motion-control
    depends_on:
      make-firmware-motion-control:
        condition: service_completed_successfully
    profiles:
      - robot1

  # firmware1-actuators:
  #   << : *firmware
  #   hostname: firmware1-actuators
  #   environment:
  #     << : *env-firmware
  #     FIRMWARE_APP: cup2024-robot-actuators
  #   depends_on:
  #     make-firmware-actuators:
  #       condition: service_completed_successfully
  #   profiles:
  #     - robot1

  # firmware1-motors:
  #   << : *firmware
  #   hostname: firmware1-motors
  #   environment:
  #     << : *env-firmware
  #     FIRMWARE_APP: cup2024-robot-motors
  #   depends_on:
  #     make-firmware-motors:
  #       condition: service_completed_successfully
  #   profiles:
  #     - robot1

  firmware2:
    << : *firmware
    hostname: firmware2
    environment:
      << : *env-firmware-pami
      ROBOT_ID: 2
      FIRMWARE_OPTIONS: -c /dev/null -c /var/run/cogip/ptySTM32-2
    depends_on:
      make-firmware-pami:
        condition: service_completed_successfully
      socat2:
        condition: service_started
    profiles:
      - robot2

  firmware3:
    << : *firmware
    hostname: firmware3
    environment:
      << : *env-firmware-pami
      ROBOT_ID: 3
      FIRMWARE_OPTIONS: -c /dev/null -c /var/run/cogip/ptySTM32-3
    depends_on:
      make-firmware-pami:
        condition: service_completed_successfully
      socat3:
        condition: service_started
    profiles:
      - robot3

  firmware4:
    << : *firmware
    hostname: firmware4
    environment:
      << : *env-firmware-pami
      ROBOT_ID: 4
      FIRMWARE_OPTIONS: -c /dev/null -c /var/run/cogip/ptySTM32-4
    depends_on:
      make-firmware-pami:
        condition: service_completed_successfully
      socat4:
        condition: service_started
    profiles:
      - robot4

  robot1:
    << : *robot
    hostname: robot1
    ports:
      - "8081:8081"
      - "8091:8091"
    environment:
      << : *env-robot
      ROBOT_ID: 1
    profiles:
      - robot1

  robot2:
    << : *pami
    hostname: robot2
    ports:
      - "8082:8082"
      - "8092:8092"
    environment:
      << : *env-pami
      ROBOT_ID: 2
    depends_on:
      - socat2
    profiles:
      - robot2

  robot3:
    << : *pami
    hostname: robot3
    ports:
      - "8083:8083"
      - "8093:8093"
    environment:
      << : *env-pami
      ROBOT_ID: 3
    depends_on:
      - socat3
    profiles:
      - robot3

  robot4:
    << : *pami
    hostname: robot4
    ports:
      - "8084:8084"
      - "8094:8094"
    environment:
      << : *env-pami
      ROBOT_ID: 4
    depends_on:
      - socat4
    profiles:
      - robot4

  monitor1:
    << : *monitor
    hostname: monitor1
    environment:
      << : *env-monitor
      COGIP_SOCKETIO_SERVER_HOST: robot1
      COGIP_SOCKETIO_SERVER_PORT: 8091
      COGIP_SOCKETIO_SERVER_URL: http://robot1:8091
    depends_on:
      - robot1
    profiles:
      - monitor1

  monitor2:
    << : *monitor
    hostname: monitor2
    environment:
      << : *env-monitor
      COGIP_SOCKETIO_SERVER_HOST: robot2
      COGIP_SOCKETIO_SERVER_PORT: 8092
      COGIP_SOCKETIO_SERVER_URL: http://robot2:8092
    depends_on:
      - robot2
    profiles:
      - monitor2

  monitor3:
    << : *monitor
    hostname: monitor2
    environment:
      << : *env-monitor
      COGIP_SOCKETIO_SERVER_HOST: robot3
      COGIP_SOCKETIO_SERVER_PORT: 8093
      COGIP_SOCKETIO_SERVER_URL: http://robot3:8093
    depends_on:
      - robot3
    profiles:
      - monitor3

  monitor4:
    << : *monitor
    hostname: monitor4
    environment:
      << : *env-monitor
      COGIP_SOCKETIO_SERVER_HOST: robot4
      COGIP_SOCKETIO_SERVER_PORT: 8094
      COGIP_SOCKETIO_SERVER_URL: http://robot4:8094
    depends_on:
      - robot4
    profiles:
      - monitor4

  build_wheel:
    build:
      context: .
      target: uv_base
    platform: "linux/arm64"
    command:
      - /bin/sh
      - -x
      - -c
      - |
        uv build --wheel
        chown ${UID:-1000}:${GID:-1000} dist/*_aarch64.whl
    volumes:
      - "./cogip:/src/cogip"
      - "./.python-version:/src/.python-version"
      - "./pyproject.toml:/src/pyproject.toml"
      - "./uv.lock:/src/uv.lock"
      - "./dist:/src/dist"
      - "./LICENSE:/src/LICENSE"
      - "./.gitignore:/src/.gitignore"
      - "build_cache:/src/build"
    profiles:
      - build_wheel

volumes:
  vscode:
  run:
  build_cache:
