:root {
  --grey-color: #acaeb1;
  --red-cogip: #d01b1e;
  --color-camp-1: #005CE6; /* blue */
  --color-camp-2: #00AA12; /* green */
}

body {
  overflow: hidden;
}

#logoCogip {
  height: 6%;
  padding-bottom: 10px;
}

h1 {
  color: var(--grey-color);
}

#displayScore {
  color: var(--grey-color);
  font-size:1500%;
}

.row {
  margin-right: 0px;
}

#menu {
  text-align: center;
  min-height: 87vh;
  max-height: 87vh;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 15px;
  border-right: 1px solid var(--grey-color) !important;
}

#nav-tool-tab {
  width: 100%;
}

#nav-tab {
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 10px;
}

.nav-link,
.nav-link:focus,
.nav-link:hover {
  color:var(--grey-color);
}

#nav-tool-tab.active {
  border-color: var(--grey-color) !important;
  background-color: var(--red-cogip);
  color: white !important;
}

input[type="number"],
input[type="number"]:focus,
input[type="text"],
input[type="text"]:focus,
button.btn-dark {
  height: fit-content;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: var(--grey-color);
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsl(359deg 77% 46% / 25%);
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  border: 1px solid rgb(12, 14, 15);
  -webkit-text-fill-color: var(--grey-color);
  -webkit-box-shadow: 0 0 0px 1000px rgb(21 28 31) inset, 0 0 0 0.25rem hsl(359deg 77% 46% / 25%);
    transition: background-color 5000s ease-in-out 0s;
}

#divButtons {
  max-height: 72vh;
  overflow-y: auto;
}

#divButtons button {
  margin-bottom: 1vh !important;
}

#connection pre {
  text-align: right;
}

#connection img {
  width: 20px;
  margin-right: 5px;
}

pre {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  color:var(--grey-color);
}

#board {
  background: url(../img/ground2023.png);
  background-size: contain;
  margin-top: 1vh;
  margin-right: 1vw;
  position: absolute;
}

#buttonCameraModal {
  z-index: 2;
  position: relative;
  margin-top: 10px;
}

#buttonRefresh {
  z-index: 2;
  position: relative;
  margin-top: 10px;
}

#buttonCameraModal:hover,
#buttonRefresh:hover {
  opacity: 0.7;
}


#displayFlux {
  margin: auto;
}

.btn-close {
  z-index: 2;
  position: absolute;
  right: 15px;
  opacity: 1;
}

.modal-body {
  align-self: center;
}

#wizardName{
  height: fit-content;
  color: var(--grey-color);
  border: none;
  background-color: transparent;
}

#btn-send-wizard {
  background-color:var(--red-cogip);
  border: var(--red-cogip);
}

.modal-title,
.form-check-label {
  color: var(--grey-color);
}

.form-check {
  padding-left: 0;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"]
{
  margin: 0 10px 0 10px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--red-cogip);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:checked {
  accent-color: var(--red-cogip);
  border: var(--red-cogip);
  background-color:var(--red-cogip);
}

.btn-blue {
  color: #000;
  background-color: var(--color-camp-1) !important;
  border-color: var(--color-camp-1) !important;
  height: 30px;
  width: 100px;
  margin-right: 15px;
}

.btn-green {
  color: #000;
  background-color: var(--color-camp-2) !important;
  border-color: var(--color-camp-2) !important;
  height: 30px;
  width: 100px;
}

.btn-blue.active,
.btn-green.active {
  outline: none;
  box-shadow: inset 0px 0px 15px #000;
}

/* virtual keyboard */
.keyboard {
  z-index: 2000;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  background: hsl(0deg 0% 0%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -200%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 30%;
  max-width: 85px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: hsl(0deg 0% 30% / 56%);
  color: var(--red-cogip);
  font-size: 1.35rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activate::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.use-keyboard-input {
  width: 95%;
}
