<html>
  <head>
    <title>COGIP Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/external/bootstrap-5.0.2.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/index.css') }}"
    />
  </head>

  <body class="d-flex flex-column h-100 w-100">
    <div class="row">
      <div
        class="col-lg-3 col-sm-3"
        id="menu"
        style="border-right: 1px solid black"
      ></div>
      <div class="col-lg-9 col-sm-9">
        <canvas id="board"></canvas>
      </div>
    </div>

    <div id="state"></div>

    <footer class="footer mt-auto bg-light">
      <div class="container pt-2">
        <span class="text-muted" style="float: left">
          <pre>Cogip © 2022. All Rights Reserved</pre>
        </span>
        <span class="text-muted" style="float: right" id="connection">
          <pre>Disconnected.</pre>
        </span>
      </div>
    </footer>

    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/bootstrap-5.0.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/jquery.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/socket.io.min.js') }}"
    ></script>

    <script type="module">
      import * as socketModule from "../static/js/socketModule.js";
      import * as drawModule from "../static/js/drawModule.js";

      window.addEventListener("resize", drawModule.resizeCanvas, false);

      $(document).ready(function () {
        drawModule.resizeCanvas(); // draw background

        io.connect(window.location.origin, {
          path: "/sio/socket.io",
        })
          .on("connect", function () {
            socketModule.onConnection();
          })
          .on("disconnect", function () {
            socketModule.onDisconnect();
          })
          .on("menu", function (menu) {
            socketModule.onMenu(menu);
          });
        // socket.on('state', function(msg) {
        //     console.log(JSON.stringify(msg));
        //     $('#state').html('<pre>' + JSON.stringify(msg, null, 2) + '</pre>');
        // });
      });
    </script>
  </body>
</html>
