<html>
  <head>
    <title>COGIP Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/external/bootstrap-5.0.2.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/index.css') }}"
    />
  </head>

  <body class="d-flex flex-column h-100 w-100 bg-dark">
    <div class="row">
      <div class="col-lg-3 col-sm-3" id="menu"></div>
      <div class="col-lg-9 col-sm-9">
        <canvas id="board"></canvas>
        <button
          class="btn btn-outline-dark float-end"
          id="buttonCameraModal"
          type="button"
          onclick="modalCamera()"
          data-bs-toggle="modal"
          data-bs-target="#cameraModal"
        >
          <img src="{{ url_for('static', path='img/camera.svg') }}" />
        </button>
      </div>
    </div>

    <footer class="footer mt-auto bg-dark">
      <div class="container pt-2">
        <span class="text-muted" style="float: left" id="connection">
          <pre>Disconnected.</pre>
        </span>
        <span class="text-muted" style="float: right" id="msg"> </span>
      </div>
    </footer>

    <div
      class="modal"
      tabindex="-1"
      id="cameraModal"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body" id="displayFlux">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/bootstrap-5.0.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/jquery.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/external/socket.io.min.js') }}"
    ></script>

    <script type="module">
      import * as socketModule from "../static/js/socketModule.js";
      import * as drawModule from "../static/js/drawModule.js";
      import * as cameraModule from "../static/js/cameraModule.js";
      import { virtualKeyboard } from "../static/js/keyboardModule.js";

      window.addEventListener("resize", drawModule.resizeCanvas, false);

      $(document).ready(function () {
        drawModule.resizeCanvas(); // draw background
        virtualKeyboard.init(); // initialize keyboard

        io.connect(window.location.origin, {
          path: "/sio/socket.io",
        })
          .on("connect", function () {
            socketModule.onConnection();
          })
          .on("disconnect", function () {
            socketModule.onDisconnect();
          })
          .on("menu", function (menu) {
            socketModule.onMenu(menu, this);
            virtualKeyboard._actualize();
          })
          .on("reset", function (menu) {
            socketModule.onReset(this);
          })
          .on("state", function (msg) {
            drawModule.displayMsg(msg); // uses message to display informationin bottom page
            drawModule.drawBoardElement(msg); // move robot
          });
      });
    </script>
  </body>
</html>
