[Unit]
Description=COGIP Basket

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/python3 -m cogip.tools.basket
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
