[Unit]
Description=COGIP Beacon Server

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-server-beacon
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
