[Unit]
Description=COGIP Detector

Wants=network.target
Before=cogip-robotcam.service
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/python3 -m cogip.tools.detector
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
