[Unit]
Description=COGIP Robotcam

Wants=network.target
After=syslog.target network-online.target cogip-detector.service

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/python3 -m cogip.tools.robotcam
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
