[Unit]
Description=COGIP Robotcam

Wants=network.target
After=syslog.target network-online.target cogip-detector.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-robotcam
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
