[Unit]
Description=COGIP Beacon Dashboard

Wants=network.target
After=cogip-server-beacon.service
Requires=cogip-server-beacon.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-dashboard-beacon
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
