[Unit]
Description=COGIP Planner

Wants=network.target
After=cogip-server.service
Requires=cogip-server.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-planner
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
