[Unit]
Description=COGIP Dashboard

Wants=network.target
After=cogip-server.service
Requires=cogip-server.service

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/python3 -m cogip.tools.dashboard
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
