[Unit]
Description=COGIP Detector

Wants=network.target
Before=cogip-robotcam.service
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-detector
RestartSec=5
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
