[Unit]
Description=COGIP Detector

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
User=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 -m cogip.tools.detector
RestartSec=5
EnvironmentFile=/etc/default/detector

[Install]
WantedBy=multi-user.target
