[Unit]
Description=PyPI cache server
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
ExecStart=/opt/venv/bin/devpi-server --host 0.0.0.0

[Install]
WantedBy=multi-user.target
