.bg-dark {
  background: hsl(0deg 0% 30% / 56%);
}

h1 {
  color: #acaeb1;
}

.row {
  margin-right: 0px;
}

#menu {
  text-align: center;
  min-height: 95vh;
  max-height: 95vh;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 15px;
  border-right: 1px solid #6c757d !important;
}

input[type="number"],
input[type="number"]:focus,
button.btn-dark {
  font-size: small !important;
  height: fit-content;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #acaeb1;
}

#divButtons {
  max-height: 82vh;
  overflow-y: auto;
}

#divButtons button {
  margin-bottom: 1vh !important;
  font-size: small;
}

#connection pre {
  text-align: right;
}

pre {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1.5vh;
}

#board {
  margin-top: 1vh;
  margin-right: 1vw;
}

/* virtual keyboard */
.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  background: hsl(0deg 0% 0%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 30%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: hsl(0deg 0% 30% / 56%);
  color: hsl(359deg 77% 46%);
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.use-keyboard-input {
  width: 95%;
}
